<table>
  <thead>
    <th>Name</th>
    <th># of Locations</th>
    <th>Priority Species?</th>
    <th>Photo?</th>
  </thead>
  <tbody>
    <% @birds.each do |bird| %>
    <tr>
      <td><%= link_to bird.name, bird_path(bird) %></td>
      <td><%= bird.number_of_locations %></td>
      <td><%= bird.priority ? "Yes" : "No" %></td>
      <td><%= bird.photo_file_name.present? ? "Yes" : "" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="bar-chart">