<h2><%= @bird.name %></h2>

<% if @bird.priority %>
<h4>Priority Bird</h4>
<% end %>

<p>Seen at <span style="font-weight: bold;"><%= @bird.number_of_locations %></span> locations in April-June </p>

<%= image_tag @bird.photo.url %>


