<h2><%= @bird.name %></h2>

<% if @bird.priority %>
<h4>Priority Bird</h4>
<% end %>

<p>Seen at <span class='count'><%= @bird.number_of_locations %></span> locations in April-June </p>
<%= image_tag @bird.photo.url(:medium) if @bird.photo_file_name %>


<% if @bird.description %>
<p><%= @bird.description %></p>
<% end %>

