@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  margin: 0;
  padding: 0;
}

#container {
  @include outer-container;
}

#title-bar {
  background-color: #f6f6f6;
  #title a {

    color: green;
    font-size: 2em;
  }
  #subtitle {
    color: blue;
  }
}