@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  margin: 0;
  padding: 0;
}

.container {
  @include outer-container;
}

#title-bar {

  /* @include background-image(linear-gradient( white 0, rgb(101, 224, 224) 20%, rgb(31, 234, 242) 45%, white)); */

  #title a {
    color: green;
    font-size: 2em;
  }
  #subtitle {
    color: blue;
  }
}

.count {
  font-weight: bold;
}


#bird-index h1, #bird-show h1 {
  font-size: 1.5em;
  color: #888;
}

#bird-index img {
  border-radius: 15px;
}

.photo-floating {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    max-width: 100%;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.9);
  }
}

.photo-credit {
  font-size: 0.5em;
  span {
    font-style: italic;
  }
}

.note {
  font-style: italic;
}