@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  margin: 0;
  padding: 0;
}

.container {
  @include outer-container;
}

#title-bar {

  /* @include background-image(linear-gradient( white 0, rgb(101, 224, 224) 20%, rgb(31, 234, 242) 45%, white)); */

  #title a {
    color: green;
    font-size: 2em;
  }
  #subtitle {
    color: blue;
  }
}

.count {
  font-weight: bold;
}


#bird-show {
  h1 {
    font-size: 1.5em;
    color: #888;
  }
}

.photo-credit {
  font-size: 0.5em;
  span {
    font-style: italic;
  }
}
.note {
  font-style: italic;
}